<script async src="https://cdn.securenative.com/1.0.0/sn-client.min.js"></script>
<script type="text/javascript">
    window.securenative = window.securenative || [];
    function sn() { securenative.push(arguments); }
    sn('appId', 'SN-1A3069A230');
</script>
<h1>Events/track</h1>
<p><%= @message %></p>
